# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# datafiles
*.dat
*.range
*.cpt

# pdfs
*.pdf
*.ps
*.xmgr
*.spec

# compilation files
error
coolwarm
